  #my-fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 100;
  }

  #moving-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #my-modal {
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%) no-repeat bottom right,#040613;
    max-width: 520px;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.5;
  }

  @media only screen and (min-width: 601px) {
    #my-modal {
      width: 50%;
    }
  }

  #my-modal form {
    max-width: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    max-height: 900px;
  }

  #my-modal input, #my-modal textarea {
    width: 480px;
    max-width: 100%;
    margin-bottom: 7px;
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 26px 24px;
    color: #fff;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  #my-modal input {
    height: 54px;
    box-shadow: none;
  }

  #my-modal textarea {
    height: 134px;
  }

  #my-modal .g-recaptcha {
    margin-bottom: 10px;
  }

  #my-modal input[valid='false'] {
    border-color: rgba(256,50,50,.4);
  }

  #my-modal input:focus, #my-modal textarea:focus, .cb_place:hover {
    border-color: #f14d34;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #f44336;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  #my-modal input::placeholder, #my-modal textarea::placeholder {
    color: #fff;
    font-size: 14px;
  }


  #my-modal button {
    background: #f14d34;
    border: 2px solid #f14d34;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
    box-shadow: none;
    margin: 0;
    display: block;
    width: 100%;
    padding: 20px 14px;
    transition: background 300ms;
  }

  #my-modal button:hover {
    background: transparent;
  }

  #my-modal button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  #my-modal button:disabled:hover {
    background: #f14d34;
  }

  label.c_box input[type='checkbox'] {
    display: none;
  }

  label.c_box {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 10px;
  }

.checkbox-text a{
  color: #f14d34 !important;
}
@font-face {
  font-family: 'Montserrat-bold'; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat-Bold.woff2); /* Путь к файлу со шрифтом */
 }

.checkbox-text a:hover{
  text-decoration: underline !important;
}
.container{
    padding: 90px 0 0;
}

#FormName {
  font-family: 'Montserrat-bold';
}

.cb_place {
  content: "";
  min-width: 25px;
  position: relative;
  background: transparent;
  display: inline-block;
  margin-right: .5em;
  min-height: 25px;
  border: 2px solid rgba(256,256,256,.5);
  border-radius: 5px;
}

.cb_place:after {
  left: 35%;
  top: 5%;
  width: 30%;
  height: 70%;
  border: solid rgba(256, 256, 256, 0.0);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(0.0);
  display: block;
  position: absolute;
  opacity: 0;
  transition: 250ms cubic-bezier(.4, .0, .23, 2);
  content: "";
  cursor: pointer;
}

span.cb_place:hover::after {
  border: solid rgba(256, 256, 256, 0.5);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(1.0);
  opacity: 1;
}

label.c_box input[type='checkbox']:checked~span:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(1.0);
  opacity: 1;
}


label.c_box div {
  font-size: 12px;
  color: #fff;
  padding-left: 6px;
  max-width: 480px;
  font-weight: 400;
}

.c_box a {
  color: #f14d34;
}


label.c_box div:after {
  -webkit-background-size: 7px 7px;
  background-size: 7px 7px;
  width: 7px;
  vertical-align: text-top;
  margin-left: 2px;
}

label.c_box div:after {
  -webkit-background-size: 10px 7px;
  background-size: 7px 7px;
  content: "";
  display: inline-block;
  line-height: 1;
  height: 7px;
  width: 7px;
}

.sendButtonStandart {
  position: relative;
  --rotateTransform: none
}

.sendButtonStandart::after {
  display: inline;
  position: absolute;
  content: " ";
  transform: rotate(360deg);
  opacity: 0;
  transition: all 0.7s;
  top: 0px;
  left: -8px;
}

.sendButtonStandart.sendButtonAnimeSuccess::after {
  content: "✓";
  font-size: 20px;
  transform: none;
  opacity: 1;
  font-weight: 100;
}

.sendButtonStandart.sendButtonAnimeFail::after {
  content: "✖";
  font-size: 20px;
  transform: none;
  opacity: 1;
  font-weight: 100;
}

.sendButtonStandart::before {
  display: inline;
  position: absolute;

  font-size: 20px;
  transition: all 1s;
  transform: none;
  opacity: 0;
  top: -3px;
  left: -15px;
  content: "";
  height: 30px;
  width: 30px;
  z-index: 1000;
  background-size: contain;
  background-repeat: no-repeat;
}
.sendButtonStandart.sendButtonAnimeWaiting::before {
  opacity: 1;
  transform: var(--rotateTransform);
  transition: transform 0s;
}
.form-block{
  width: 480px;
  max-width: 100%;
  margin-left: auto;
}
#form input{
    margin-bottom: 7px;
}
.footer-form-input::placeholder, .form-item textarea::placeholder {
    color: #fff;
    font-size: 14px;
  }
.footer-form-label{
    display:none;
}
.footer-form-input{
    width: 480px;
    max-width: 100%;
    margin-bottom: 7px;
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 18px 24px;
    color: #fff;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#form textarea {
    height: 134px;
  }
.footer-contact-button{
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #f14d34;
    border-radius: 5px;
    letter-spacing: 0.06em;
    color: #fff;
    background: #f14d34;
    margin: 0 0;
    margin-top: 7px;
}

@media screen and (min-width: 1080px) {
    .footer{
        background-size: auto;
    }
    .footer-block-title{
        font-size:42px;
        text-align: left;
    }
    .footer-block-description{
        margin-bottom: 140px;
    }
    .footer-contacts-phone a{
        font-size: 32px;
    }
    .footer-contacts-mail a{
        font-size: 18px;
    }
}
