@font-face {
  font-family: 'Montserrat'; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat-Regular.woff2); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: 'Montserrat-bold'; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat-Bold.woff2); /* Путь к файлу со шрифтом */
 }

.support h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 22px;
  font-size: 24px;
  font-family: 'Montserrat-bold';
}

.support-number {
  font-weight: bold;
  font-size: 12px;
  color: #828a9b;
  margin-bottom: 27px;
}

.support-headline {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  color: #050c33;
  line-height: 1.22;
  font-family: 'Montserrat-bold';
}

.support-cards {
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 20px 20px 20px rgba(6, 14, 45, .075);
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 10px;
  height: 100%;
  position: relative;
  padding: 24px 24px 45px;
  min-height: 220px;
  z-index: 4;
}

.support-col {
  margin-bottom: 5px;
}

.support-cards .text {
  position: relative;
  z-index: 5;
}

.support-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .support h2 {
    font-size: 42px;
  }
  .support-cards {
    min-height: 290px;
  }
}
