@font-face {
    font-family: 'Montserrat-bold'; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat-Bold.woff2); /* Путь к файлу со шрифтом */
   }

.tariffs {
    padding-bottom: 50px;
    background: url("../img/D-background-opacity.svg") no-repeat right top, #fff;
    background-size: cover;
}

.tariffs h2 {
    font-family: 'Montserrat-bold';
    font-size: 24px;
    padding-top: 105px;
    text-align: center;
    color: #000;
    margin-bottom: 40px
}

.tariff-block {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 30px 15px;
    background: #fff;
    margin: 0 auto;
    transition: all 500ms;
    transform-origin: center;
    width: 420px;
    max-width: 100%;
}

.tariffs>.container {
    margin-bottom: 30px;
}

.tariffs>.container>.row {
    align-items: flex-start;
}

.tariff-col:hover .tariff-block,
.default-tariff .tariff-block {
    transform: none;
    z-index: 15;
    box-shadow: 0 4px 60px rgba(150, 150, 150, .3);
}

.tariff-col:hover~.default-tariff .tariff-block {
    transform: none;
    z-index: 0;
    box-shadow: none;
}

.tariff-col {
    margin-bottom: 15px;
}

.tariff-title {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #f14d32;
    line-height: 1.3;
    padding-bottom: 0px;
}

.tariffs li {
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 100;
    position: relative;
    color: #4e5972;
    padding-left: 15px;
}

.tariffs ul {
    padding-left: 15px;
    list-style-image: url("../img/checkmark.svg");
}

.contact-button {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #f14d34;
    text-decoration: none;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #f14d34;
    border-radius: 5px;
    letter-spacing: 0.06em;
    transition: background 300ms;
    margin: 0 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 43px
}

.tariff-block:hover .contact-button,
.default-tariff .contact-button {
    color: #fff;
    background: #f14d34;
}

.tariff-col:hover~.default-tariff .contact-button {
    color: #f14d34;
    background: rgba(0, 0, 0, 0);
}

.tariffs-custom {
    text-align: center;
    color: #828a9b;
}

.tariffs-custom a {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
    transition: color 300ms;
}

.tariffs-custom a:hover {
    color: #f14d34;
    text-decoration: none;
}


.tariff-price {
    font-size: 72px;
    font-weight: bold;
    color: #050c33;
    line-height: 1;
    white-space: nowrap;
    font-family: 'Montserrat-bold';
}
.tariff-price .rub {
    font-size: 28px;
    font-weight: 500;
    vertical-align: text-top;
    display: inline-block;
    margin-left: -5px;
    margin-top: 18px;
}
.tariff-price-description {
    line-height: 1;
    color: #040c33;
    margin-bottom: 20px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .tariff-block {
        max-width: 500px;
        width: auto;
    }

    .tariff-block {
        padding: 70px 20px 60px;
    }

    .tariffs h2 {
        font-size: 42px;
        padding-top: 160px;
        margin-bottom: 65px
    }

    .tariffs {
        padding-bottom: 100px;
        background-size: 58%;
    }

    .tariff-col:hover .tariff-block,
    .default-tariff .tariff-block {
        transform: scale(1.1);
    }

    .tariffs li {
        font-size: 16px;
    }
}