@font-face {
  font-family: 'Montserrat'; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat-Regular.woff2); /* Путь к файлу со шрифтом */
 }

 @font-face {
  font-family: 'Montserrat-bold'; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat-Bold.woff2); /* Путь к файлу со шрифтом */
 }

.team {
    padding: 50px 30px 0;
  }

  .team h2 {
    font-family: 'Montserrat-bold';
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .member-block {
    padding: 0 15px;
  }

  .member-card {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .member-photo {
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
  }

  .member-card-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #050c33;
    line-height: 1.35;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .member-card-signature {
    padding: 0;
    color: #505570;
    font-weight: 500;
    line-height: 1.37;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .whole-team {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    .team h2 {
        font-size: 42px;
        margin: 50px 0 80px 0;
      }

    .member-block {
        padding: 0 50px;
      }

    .member-card {
        text-align: left;
        margin-bottom: 70px;
      }

    .member-card {
        text-align: left;
        margin-bottom: 70px;
      }

    .member-photo {
        margin-bottom: 25px;
      }

    .member-card-signature {
        font-size: 16px;
      }

    .member-card-signature {
      margin-top: 0px;
    }
  }